# Files and directories to ignore
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
build/
dist/
*.egg-info/
*.npy
*.pt
*.pth
*.ipynb_checkpoints/
*.log
*.DS_Store
*.swp
*.bak
*.tmp
*.wav
*.mp4
*.avi
*.bvh
*.tsv

# Ignore large data
data/trn/*
data/tst/*

# Ignore large pre-trained models
models/pretrained/*
!models/pretrained/README.md
models/llama-3.2-3b-instruct/
models/WavLM/

# Ignore evaluation results
evaluation/videos/*
!evaluation/videos/README.md