# Archivos y directorios a ignorar
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
build/
dist/
*.egg-info/
*.npy
*.pt
*.pth
*.ipynb_checkpoints/
*.log
*.DS_Store
*.swp
*.bak
*.tmp
*.wav
*.mp4
*.avi
*.bvh
# Ignorar datos grandes
data/train/*
!data/train/sample_train.tsv
data/test/*
!data/test/sample_test.tsv
# Ignorar modelos pre-entrenados grandes
models/pretrained/*
!models/pretrained/README.md
# Ignorar resultados de evaluación
evaluation/videos/*
!evaluation/videos/README.md